.editPageButtons {
    width: 60px;
    height: 60px;
    margin: 1% 2%;
    font-family: Calibri, sans-serif;
    font-size: x-large;
    background-color: #FFF;
    border: #000 solid 1px;
    cursor: pointer;
}

.editPageButtons:hover {
    text-decoration: none !important;
}

#editPageCommonContainer {
    font-family: Calibri, sans-serif;
    font-size: x-large;
    text-align: center;
}

#editTextInputContainer {
    margin: 2% 33%;
    width: 35%;
}

.editPageLabels {
    display: block;
    margin-top: 2%;
}

#textInput {
    width: 100%;
    display: block;
    margin: 0 0;
    padding: 0;
}
