#errorMessage {
    color: #FF0000;
    font-size: large;
    text-align: center;
    display: block;
    margin-bottom: 1%;
}

#forgotPasswordContainer {
    font-family: Calibri, cursive;
    text-align: center;
    font-size: x-large;
    margin-top: 2%;
}

.submitEmailOrPhoneInput {
    height: 40px;
    width: 80px;
    background-color: #FFF;
    color: #000;
    border: #0000FF solid 1px;
    border-radius: 5px;
    font-size: x-large;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.submitEmailOrPhoneInput:hover {
    color: #3088C7;
    text-decoration-line: underline;
    border-color: #000;
}

#submitPasswordButton {
    margin-left: 3%;
}

