#errorMessage {
    color: #FF0000;
    font-size: large;
    text-align: center;
    display: block;
    margin-bottom: 1%;
}

#forgotPasswordContainer {
    font-family: Calibri, cursive;
    text-align: center;
    font-size: x-large;
    margin-top: 2%;
}

.forgottenPasswordInputs {
    display: block;
    text-align: center;
    margin: 1% auto;
    width: 400px;
    height: 50px;
    font-size: large;
}

#forgottenPasswordVisibility {
    margin: auto;
}

.mobileForgottenPasswordInputs {
    display: block;
    text-align: center;
    margin: 2% auto;
    width: 80%;
    height: 30px;
    font-size: large;
}

.submitEmailOrPhoneInput {
    display: block;
    height: 40px;
    width: 80px;
    margin: auto;
    background-color: #FFF;
    border: #0000FF solid 1px;
    border-radius: 5px;
    font-size: x-large;
    cursor: pointer;
    text-decoration: none;
}

.submitEmailOrPhoneInput:hover {
    color: #3088C7;
    text-decoration-line: underline;
    border-color: #000;
}

#submitPasswordButton {
    margin-top: 1%;
}

